@page
@model Intranet.Pages.Repo.ListModel

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RepoFile[0].Extension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepoFile[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepoFile[0].Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepoFile[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepoFile[0].GUID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepoFile[0].Size)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RepoFile) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Extension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShownName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GUID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
        </tr>
}
    </tbody>
</table>
